.bloco{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img{
    width: 350px;
    height: 350px;
    margin-top: 50px;
}
.textoFrase{
    font-family: italic;
    color: #dd7b22;
    text-align: center;
}
.sessao{
    display: inline-flex;
    flex-direction: row;
}
.but{
    width: 100%;
    height: 30px;
    background-color:orange;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}