.bloco{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.img{
    width: 350px;
    height: 30%;
    padding-top: 3em;
}
.timer{
    color: #ffffff;
    padding-top: 90px;
    margin-left: -265px;
    font-size: 110pt;
}
.areaBut{
    margin-left: 150px;
    display: flex;
}

.botao{
    font-size: 14pt;
    text-align: center;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 15px;
    cursor: pointer;
    width: 150px;
}